.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: rgb(201, 191, 230);
  width: 600px;
  margin: 40px 0px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: rgb(29, 7, 37);
}

h1 {
  font-size: 4vh;
  text-align: center;
}

.input {
  padding: 10px;
  min-height: 3vh;
  color: #293241;
  width: 350px;
  margin-bottom: 10px;
  border-radius: 1vw;
  border: 3px solid rgb(6, 14, 19);
  font-size: 2.5vh;
}

textarea {
  padding: 40px;
  min-height: 15vh;
  color: #293241;
  width: 350px;
  margin-bottom: 20px;
  border-radius: 1vw;
  border: 3px solid rgb(6, 14, 19);
  font-size: 20px;
}

textarea::placeholder {
  color: darkgray;
  opacity: 0.7;
  font-weight: 700;
  font-size: 25px;
}

.counter {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}
.deadline {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}
